<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.mapper.breakdownMapper">

<select id="getShitemVO" resultType="com.kgitbank.model.ShItemVO">
SELECT * from sh_item where usernick = #{usernick}
</select>
 
<update id="completedIstate">
UPDATE sh_item SET istate = #{istate} where ititle = #{ititle} AND usernick = #{usernick}
</update>
 
</mapper>