<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.mapper.goodsMapper">

	<!-- 상품 등록 -->
	<insert id="createGoods">
	 INSERT INTO sh_item (
	  itemid, iimagepath, ititle, icategory, refreshtime, icontent, price)
	     VALUES (
	     itemID_seq.nextval,
	     #{iimagepath},
	     <!-- #{ithumbimg}, --> 
	     #{ititle}, 
	     #{icategory}, 
	     sysdate, 
	     #{icontent}, 
	     #{price}
	     )
	</insert>
 
</mapper>