<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.mapper.goodsMapper">

	<!-- 상품 목록 -->
	<select id="getGoodsList" resultType="com.kgitbank.model.GoodsVO">
		SELECT
			itemid, iimagepath, ititle, icategory, price, refreshtime
		FROM
			sh_item
		ORDER BY 
			refreshtime desc
	</select>

	<!-- 상품 등록 -->
	<insert id="createGoods">
	 INSERT INTO sh_item (
	  itemid, iimagepath, ititle, icategory, refreshtime, icontent, price)
	     VALUES (
	     itemID_seq.nextval,
	     #{iimagepath},
	     #{ititle}, 
	     #{icategory}, 
	     sysdate, 
	     #{icontent}, 
	     #{price}
	     )
	</insert>
	
	<!-- 등록 상품 조회 -->
	<select id="getGoods" resultType="com.kgitbank.model.GoodsVO">
		SELECT itemid, iimagepath, ititle, icategory, refreshtime, icontent, price FROM sh_item WHERE itemid = #{itemid}
	</select>
 
</mapper>