<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.mapper.WYmarketMapper">

	<select id="getAdminPhCount" resultType="Integer">
		select count(*) from
		sh_adminInfo where phoneNumber=#{phoneNumber, jdbcType=VARCHAR}
	</select>

	<select id="getAdminInfo" resultType="Map">
		select * from
		sh_adminInfo
		where phoneNumber=#{phoneNumber, jdbcType=VARCHAR}
	</select>

	<select id="getAdminInfo2"
		resultType="com.kgitbank.model.AdminInfo">
		select * from
		sh_adminInfo
		where adminGrade='정'
	</select>

	<update id="updateAdminMemo">
		UPDATE sh_adminInfo SET adminMemo =
		#{adminMemo,
		jdbcType=VARCHAR}
		WHERE adminGrade =
		#{adminGrade}
	</update>

	<select id="selectAdminMemo" resultType="String">
		select adminMemo from
		sh_adminInfo where adminGrade=#{adminGrade}
	</select>

	<update id="updateUserBan">
		UPDATE sh_userInfo SET ban = 'Y'
		WHERE userNick =
		#{userNick}
	</update>

	<update id="updateUserUnBan">
		UPDATE sh_userInfo SET ban = 'N'
		WHERE userNick =
		#{userNick}
	</update>

	<select id="selectUserBan" resultType="String">
		select ban from
		sh_userInfo where userNick=#{userNick}
	</select>

	<select id="selectUserById"
		resultType="com.kgitbank.model.UserInfo">
		<![CDATA[ 
			 SELECT * FROM 
	 		(SELECT rownum rn, userID, phoneNumber, 
			kakaoMail, userNick, latitude, longitude, address, manner, userCreateDate, 
			buyItemCnt, saleItemCnt, reviewCnt, keyWord, ban FROM sh_userInfo 
			WHERE rownum <= #{pageNum } * #{amount }  and userId LIKE '%' || #{search, jdbcType=NUMERIC} || '%' ) 
			WHERE rn > (#{pageNum } - 1) * #{amount }
			ORDER BY userId 
		]]>
	</select>
	<select id="selectUserByNick"
		resultType="com.kgitbank.model.UserInfo">
		<![CDATA[ 
			 SELECT * FROM 
	 		(SELECT rownum rn, userID, phoneNumber, 
			kakaoMail, userNick, latitude, longitude, address, manner, userCreateDate, 
			buyItemCnt, saleItemCnt, reviewCnt, keyWord, ban FROM sh_userInfo 
			WHERE rownum <= #{pageNum } * #{amount } and userNick LIKE '%' || #{search, jdbcType=VARCHAR} || '%' ) 
			WHERE rn > (#{pageNum } - 1) * #{amount } 	
			ORDER BY userId 
		]]>

	</select>
	<select id="selectUserByAddress"
		resultType="com.kgitbank.model.UserInfo">
		<![CDATA[ 
			 SELECT * FROM 
	 		(SELECT rownum rn, userID, phoneNumber, 
			kakaoMail, userNick, latitude, longitude, address, manner, userCreateDate, 
			buyItemCnt, saleItemCnt, reviewCnt, keyWord, ban FROM sh_userInfo 
			WHERE rownum <= #{pageNum } * #{amount } and address LIKE '%' || #{search, jdbcType=VARCHAR} || '%') 
			WHERE rn > (#{pageNum } - 1) * #{amount } 	
			ORDER BY userId
		]]>
	</select>

	<insert id="insertUserAccessDate">
		INSERT INTO sh_userAccessDate
		VALUES
		(userAccessDate_seq.nextval, #{userNick}, sysdate)
	</insert>

	<select id="selectUserAccessCount" resultType="Integer">
		select count(*)
		from
		sh_userAccessDate WHERE userNick = #{userNick}
	</select>

	<select id="selectUserAccessDate" resultType="Date">
		select
		MAX(accessDate)
		from
		sh_userAccessDate WHERE userNick = #{userNick}
	</select>

	<update id="updateUserCountTotal">
		UPDATE sh_userCountTotal SET total =
		#{userAccessCount}
	</update>

	<select id="selectAccessCount" resultType="Integer">
		select count(*) from
		sh_userAccessDate
	</select>

	<select id="selectAccessCountByDate" resultType="Integer">
		select count(*)
		from
		sh_userAccessDate WHERE accessDate LIKE #{totalDate} || '%'
	</select>

	<select id="selectUserByAccessDate"
		resultType="com.kgitbank.model.UserInfo">
		<![CDATA[ 
			 SELECT * FROM 
	 		(SELECT rownum rn, userID, phoneNumber, 
			kakaoMail, a.userNick, latitude, longitude, address, manner, userCreateDate, 
			buyItemCnt, saleItemCnt, reviewCnt, keyWord, ban FROM sh_userInfo a, sh_userAccessDate b 
			WHERE rownum <= #{pageNum } * #{amount } and a.userNick = b.usernick and b.accessDate LIKE #{search} || '%') 
			WHERE rn > (#{pageNum } - 1) * #{amount } 	
			ORDER BY userId
		]]>
	</select>

	<select id="selectUserCountTotal" resultType="Integer">
		select total from
		sh_userCountTotal
	</select>

	<select id="selectUserCount" resultType="Integer">
		select count(*) from
		sh_userInfo
	</select>

	<select id="selectUserCountId" resultType="Integer">
		select count(*) from
		sh_userInfo WHERE userId LIKE '%' || #{search} || '%'
	</select>

	<select id="selectUserCountNick" resultType="Integer">
		select count(*) from
		sh_userInfo WHERE userNick LIKE '%' || #{search} || '%'
	</select>

	<select id="selectUserCountAddress" resultType="Integer">
		select count(*)
		from
		sh_userInfo WHERE address LIKE '%' || #{search} || '%'
	</select>

	<select id="selectUserList"
		resultType="com.kgitbank.model.UserInfo">
	 <![CDATA[ 
	 	SELECT * FROM 
	 	(SELECT rownum rn, userID, phoneNumber, 
		kakaoMail, userNick, latitude, longitude, address, manner, userCreateDate, 
		buyItemCnt, saleItemCnt, reviewCnt, keyWord, ban FROM sh_userInfo 
		WHERE rownum <= #{pageNum} * #{amount}) 
		WHERE rn > (#{pageNum} - 1) * #{amount} ORDER BY userId 
		]]>
	</select>


	<select id="selectusernick" resultType="Integer">
		select count(*) from
		sh_userInfo where userNick=#{userNick}
	</select>

	<select id="selectphonenumber" resultType="Integer">
		select count(*) from
		sh_userInfo where phoneNumber=#{phoneNumber, jdbcType=VARCHAR}
	</select>

	<select id="getIpCnt" resultType="Integer">
		select count(*) from
		sh_userIP
		where IP=#{IP}
	</select>

	<select id="getSmsCnt" resultType="int">
		SELECT smsCnt FROM sh_userIP
		WHERE IP = #{IP}
	</select>

	<insert id="insertIp">
		INSERT INTO sh_userIP(IP)
		VALUES (#{IP})
	</insert>

	<update id="updateIpCnt">
		UPDATE sh_userIP SET smsCnt = smsCnt + 1
		WHERE IP =
		#{IP}
	</update>

	<update id="insertSmsExceedDate">
		UPDATE sh_userIP SET smsExceedDate = sysdate
		WHERE IP
		= #{IP}
	</update>

	<select id="getSmsExceedDate" resultType="Date">
		select smsExceedDate
		from
		sh_userIP where IP=#{IP}
	</select>

	<update id="updateSmsExceedDate">
		UPDATE sh_userIP SET smsCnt = 1, smsExceedDate = null
		WHERE IP =
		#{IP}
	</update>

	<insert id="insertUserPhNk">
		INSERT INTO sh_userInfo(userID, phoneNumber,
		userNick, latitude, longitude, address, userCreateDate)
		VALUES
		(userID_seq.nextval,
		#{phoneNumber}, #{userNick}, #{latitude},
		#{longitude}, #{address}, sysdate)
	</insert>

	<select id="selectUserInfo"
		resultType="com.kgitbank.model.UserInfo">
		select * from
		sh_userInfo where phoneNumber =#{phoneNumber}
	</select>

	<select id="getUserNickByPh" resultType="String">
		select userNick from
		sh_userInfo where phoneNumber=#{phoneNumber}
	</select>

	<select id="getUserNickByMail" resultType="String">
		select userNick from
		sh_userInfo where kakaomail=#{kakaomail}
	</select>

	<select id="selectSignupCountByDate" resultType="Integer">
		select count(*)
		from
		sh_userInfo WHERE userCreateDate LIKE #{totalDate} || '%'
	</select>

	<select id="selectUserInfoByMail"
		resultType="com.kgitbank.model.UserInfo">
		select * from
		sh_userInfo where kakaomail=#{kakaomail}
	</select>

	<select id="selectUserBySignupDate"
		resultType="com.kgitbank.model.UserInfo">
		<![CDATA[ 
			 SELECT * FROM 
	 		(SELECT rownum rn, userID, phoneNumber, 
			kakaoMail, userNick, latitude, longitude, address, manner, userCreateDate, 
			buyItemCnt, saleItemCnt, reviewCnt, keyWord, ban FROM sh_userInfo 
			WHERE rownum <= #{pageNum } * #{amount } and userCreateDate LIKE #{search} || '%') 
			WHERE rn > (#{pageNum } - 1) * #{amount } 	
			ORDER BY userId
		]]>
	</select>

	<select id="selectIdByUserNick" resultType="Integer">
		select userid from
		sh_userInfo where usernick=#{userNick}
	</select>

	<select id="selectUserNickFromItem" resultType="String">
		SELECT Distinct
		userNick
		FROM
		sh_item
	</select>

	<select id="selectLatLong"
		resultType="com.kgitbank.model.UserInfo">
		select latitude, longitude from
		sh_userInfo where
		usernick=#{userNick}
	</select>

	<select id="selectCountFromItem" resultType="Integer">
		SELECT
		count(*)
		FROM
		sh_item
	</select>

	<insert id="insertInquiryInfo">
		INSERT INTO sh_inquiry
		VALUES
		(inquiry_seq.nextval,
		#{userNick}, #{inquiryCategory}, #{inquiryContent})
	</insert>

	<select id="selectInquiryInfo"
		resultType="com.kgitbank.model.Inquiry">
		select * from
		sh_inquiry order by inquiryID desc
	</select>

	<update id="updateInquiryCountTotal">
		UPDATE sh_inquiryCountTotal SET total = total + 1
	</update>

	<select id="selectInquiryCountTotal" resultType="Integer">
		select total
		from
		sh_inquiryCountTotal
	</select>

	<update id="resetInquiryCountTotal">
		UPDATE sh_inquiryCountTotal SET total = 0
	</update>

	<insert id="insertInquiryAdminToUser">
		INSERT INTO sh_inquiryAdminToUser
		VALUES
		(inquiryAdminToUser_seq.nextval, #{userInquiryID},
		#{userNick},
		#{inquiryCategory}, #{inquiryContent})
	</insert>

	<select id="selectInquiryAdminToUser"
		resultType="com.kgitbank.model.InquiryAdminToUser">
		select *
		from
		sh_inquiryAdminToUser order by inquiryID desc
	</select>

	<select id="selectInquiryAdminToUserByID"
		resultType="com.kgitbank.model.InquiryAdminToUser">
		select *
		from
		sh_inquiryAdminToUser WHERE inquiryID =
		#{inquiryID}
	</select>

	<select id="selectInquiryByID"
		resultType="com.kgitbank.model.Inquiry">
		select *
		from
		sh_inquiry WHERE inquiryID =
		#{inquiryID}
	</select>

	<select id="selectInquiryAdminToUserByUserNick"
		resultType="com.kgitbank.model.InquiryAdminToUser">
		select *
		from
		sh_inquiryAdminToUser WHERE userNick =
		#{userNick}
	</select>

	<select id="selectInquiryByUserNick"
		resultType="com.kgitbank.model.Inquiry">
		select *
		from
		sh_inquiry WHERE userNick =
		#{userNick}
	</select>

	<update id="updateInquiryUserCountTotal">
		UPDATE sh_inquiryUserCountTotal SET total = total + 1
	</update>

	<select id="selectInquiryUserCountTotal" resultType="Integer">
		select total
		from
		sh_inquiryUserCountTotal
	</select>

	<update id="resetInquiryUserCountTotal">
		UPDATE sh_inquiryUserCountTotal SET total = 0
	</update>

</mapper>

